.container{
	width: 750px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}
.row{
	margin-left: -15px;
	margin-right: -15px;
}
.title{
	text-align: center;
	font-weight: 700;
	line-height: 50px;
}
.conter{
	font-family: "华文细黑";
	text-align: center;
	font-size: 24px;
	line-height: 40px;
}
.border{
	display: block;
    height: 4px;
    width: 100px;
    background: #87b6c4;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -50px;
}
.coin{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #87b6c4;
	margin: 0 auto;
	margin-top: 80px;
	position: relative;
	box-shadow: 2px 5px 5px #888888;
}
.ti-setting{
	position: absolute;
	left: 30%;
	top: 30%;
}
.ti{
	position: absolute;
	left: 35%;
	top: 35%;
}
.font{
	margin-top: 50px;
	font-size: 25px;
	text-align: center;
}
.font1{
	font-size: 18px;
	text-align: center;
}
.font2{
	height: 30px;
	width: 200px;
	font-size: 18px;
	background-color: #ccc;
	color: #fff;
	margin: 0 auto;
	margin-top: 30px;
	border-radius: 15px;
	text-align: center;
	padding-top: 3px;
}
.col-md-4:hover{
	margin-top: -10px;
		-webkit-transition: all 0.3s ease;
   		-moz-transition: all 0.3s ease;
   		transition: all 0.3s ease;
}
.coin:hover{
	background-color:#f66d52 ;
	width: 120px;
	height: 120px;
	-webkit-transition: all 0.3s ease;
   		-moz-transition: all 0.3s ease;
   		transition: all 0.3s ease;
}
.font2:hover{
	background-color:#f66d52 ;
	-webkit-transition: all 0.3s ease;
   		-moz-transition: all 0.3s ease;
   		transition: all 0.3s ease;
}
.block{
	width: 100%;
	margin-top: 50px;
}
.div1{
    float: left;
  }
	
.div1 img:hover{
	-webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 0.3s ease;
   	-moz-transition: all 0.3s ease;
   	transition: all 0.3s ease;
   	background-color: #ccc;
}
.block1{
	background-image: url(images/section_bg.jpg);
	height: 400px;
	background-repeat: no-repeat;
	overflow: auto;
	margin-top: 20px;
}	
.block1 h1{
	text-align: center;
	color: #fff;
	font-size: 40px;
	margin-top: 150px;
	letter-spacing: 2px;
}
.block1 h2{
	text-align: center;
	font-family: "微软雅黑";
	color: #fff;
	font-size: 18px;
	margin-top: 30px;
	letter-spacing: 2px;
}
.block1 div{
	height: 45px;
	width: 200px;
	text-align: center;
	background-color: #87b6c4;
	font-size: 18px;
	padding-top: 10px;
	margin: 0 auto;
	border-radius: 30px;
	margin-top: 60px;
	color: #fff;
	letter-spacing: 2px;
}
.block1 div:hover{
	width: 230px;
	background-color: #f66d52;
	letter-spacing: 4px;
	 -webkit-transition: all 0.3s ease;
	  	-moz-transition: all 0.3s ease;
	 	transition: all 0.3s ease;
}
@media screen and (min-width: 768px){
	.block{
		height: 700px;
		text-align: center;
	}
	.div-img{
		width: 1320px;
		height:700px; 
		margin: 0 auto;
	}
	.div1 img{
		height: 350px;
		width: 440px;
	}
	.div1 figure{
		width: 440px;
		height: 350px;
		overflow: hidden;
	}
	.block1{
		background-size: 100% 400px;
	}
	#block2{
		height: 307px;
		width: 1175px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 50px;
		position: relative;
		overflow: hidden;
	}
	#block2 ul{
		position: absolute;
		left: 0;
		top: 0;
	}
	#block2 ul li{
		float: left;
		margin-left: 15px;
		list-style: none;
		border-radius: 5px;
	}
	#block2 ul img{
		height: 307px;
		width: 376px;
	}
	#block2 figure{
		height: 307px;
		width: 376px;
		overflow: hidden;
	}
	#block2 li img:hover{
		-webkit-transform: scale(1.2);
	    -moz-transform: scale(1.2);
	    -ms-transform: scale(1.2);
	    -o-transform: scale(1.2);
	    transform: scale(1.2);
	    -webkit-transition: all 0.3s ease;
	   	-moz-transition: all 0.3s ease;
	   	transition: all 0.3s ease;
	}
}
@media screen and (max-width: 768px){
	.block{
		height: 500px;
		margin: 0 auto;
	}
	.div-img{
		width: 600px;
		height:500px; 
		margin: 0 auto;
	}
	.div1 img{
		height: 200px;
		width: 200px;
	}
	.div1 figure{
		width: 200px;
		height: 200px;
		overflow: hidden;
	}
	#block2{
		height: 200px;
		width: 700px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 50px;
		position: relative;
		overflow: hidden;
	}
	#block2 ul{
		position: absolute;
		left: 0;
		top: 0;
	}
	#block2 ul li{
		float: left;
		margin-left: 15px;
		list-style: none;
		border-radius: 5px;
	}
	#block2 ul img{
		height: 200px;
		width: 200px;
	}
	#block2 figure{
		height: 200px;
		width: 200px;
		overflow: hidden;
	}
	#block2 li img:hover{
		-webkit-transform: scale(1.2);
	    -moz-transform: scale(1.2);
	    -ms-transform: scale(1.2);
	    -o-transform: scale(1.2);
	    transform: scale(1.2);
	    -webkit-transition: all 0.3s ease;
	   	-moz-transition: all 0.3s ease;
	   	transition: all 0.3s ease;
	}
}